

$font-primary: 'Roboto', sans-serif;

$color-black: #333;
$color-white: #fff;
$color-green: #00C24E;
$color-blue: #4C92FB;
$color-dark-blue: #3E74C6;
$color-navy-blue: #273650;

$screen-lg: 1024px;
$screen-md: 992px;
$screen-sm: 767px;
$screen-xsm: 568px;
$screen-xsm: 568px;
$screen-xxsm: 568px;